Package: com.patsluth.switunessyncflipswitch
Name: iTunes Sync Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Architecture: iphoneos-arm
Description: Switch for iTunes Wi-Fi sync found in Settngs/General/iTunes Wi-Fi Sync
Maintainer: Pat Sluth
Author: Pat Sluth
Section: Addons (Flipswitch)
Version: 1.0-1
Installed-Size: 112
